/*  ==============
     starter pack
    ==============
 */
@import url("fonts.css");
/* end of starter pack*/
h2 {
  font-family: 'Apercu Bold', sans-serif;
}

p, .btn {
  font-family: 'Apercu Medium', sans-serif;
  font-size: 14px;
}

body {
  background: #F5F8FA !important;
}

span {
  font-family: 'Apercu Thin', sans-serif;
  font-size: 14px;
}

.card {
  -webkit-box-shadow: 0 12px 25px -12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 12px 25px -12px rgba(0, 0, 0, 0.3);
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 12px 25px -12px rgba(0, 0, 0, 0.4);
          box-shadow: 0 12px 25px -12px rgba(0, 0, 0, 0.4);
}

.card-body {
  padding: .75rem !important;
}

.image {
  overflow: hidden;
}

.image img {
  height: 240px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media (max-width: 767px) {
  .image img {
    height: 175px;
  }
}

@media (min-width: 1201px) {
  .image img {
    height: 250px;
  }
}

.toggleButton {
  cursor: pointer;
  display: block;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .14s ease;
  transition: -webkit-transform .14s ease;
  transition: transform .14s ease;
  transition: transform .14s ease, -webkit-transform .14s ease;
}

.toggleButton:active {
  -webkit-transform: rotateX(30deg);
          transform: rotateX(30deg);
}

.toggleButton input {
  display: none;
}

.toggleButton input + div {
  border: 3px solid rgba(15, 120, 185, 0.2);
  border-radius: 50%;
  position: relative;
  width: 32px;
  height: 32px;
}

.toggleButton input + div svg {
  fill: none;
  stroke-width: 3.6;
  stroke: rgba(15, 120, 185, 0.89);
  stroke-linecap: round;
  stroke-linejoin: round;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
  z-index: 1;
  stroke-dashoffset: 124.6;
  stroke-dasharray: 0 162.6 133 29.6;
  -webkit-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
}

.toggleButton input + div:before, .toggleButton input + div:after {
  content: '';
  width: 3px;
  height: 12px;
  background: rgba(15, 120, 185, 0.89);
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
}

.toggleButton input + div:before {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBefore .3s linear forwards .3s;
          animation: bounceInBefore .3s linear forwards .3s;
}

.toggleButton input + div:after {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfter .3s linear forwards .3s;
          animation: bounceInAfter .3s linear forwards .3s;
}

.toggleButton input:checked + div svg {
  stroke-dashoffset: 162.6;
  stroke-dasharray: 0 162.6 28 134.6;
  -webkit-transition: all .4s ease .2s;
  transition: all .4s ease .2s;
  fill: rgba(15, 120, 185, 0.89);
  stroke: #F5F8FA;
}

.toggleButton input:checked + div:before {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  -webkit-animation: bounceInBeforeDont .3s linear forwards 0s;
          animation: bounceInBeforeDont .3s linear forwards 0s;
}

.toggleButton input:checked + div:after {
  opacity: 0;
  -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
          transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: bounceInAfterDont .3s linear forwards 0s;
          animation: bounceInAfterDont .3s linear forwards 0s;
}

@-webkit-keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes bounceInBefore {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
}

@-webkit-keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes bounceInAfter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
  50% {
    opacity: 0.9;
    -webkit-transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1.1) translate(-50%, -50%) rotate(-45deg);
  }
  80% {
    opacity: 1;
    -webkit-transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.89) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes bounceInBeforeDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(45deg);
            transform: scale(1) translate(-50%, -50%) rotate(45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(45deg);
  }
}

@-webkit-keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}

@keyframes bounceInAfterDont {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translate(-50%, -50%) rotate(-45deg);
            transform: scale(1) translate(-50%, -50%) rotate(-45deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
            transform: scale(0.3) translate(-50%, -50%) rotate(-45deg);
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
/*# sourceMappingURL=approve.css.map */