@import 'variables';

h2{
    font-family: 'Apercu Bold';
}

p{
    font-family: 'Apercu Medium';
}

.image {
    overflow: hidden;

    img {
        height: 240px;
        width: 100%;
        object-fit: contain;
        transition: all 0.8s;

        @include tablet{ height: 175px; }

        @include laptop{ height: 250px; }
    }
}