/*  ==============
     starter pack
    ==============
 */
@import url("fonts.css");
/* end of starter pack*/
/*  ================
     global styling
    ================
 */
* {
  font-family: "Bahnschrift Regular", sans-serif;
}

h1, h3, h4, h5, h6 {
  font-weight: 600;
}

body {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 150px;
  position: relative;
  scroll-behavior: smooth;
  background: #F5F8FA;
}

section {
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .btn {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  button span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  button span {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  button span {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  button span {
    font-size: 11px;
  }
}

.btn-primary {
  background: rgba(15, 120, 185, 0.89) !important;
  border-color: rgba(15, 120, 185, 0.89) !important;
  color: #F5F8FA;
  background-position: center !important;
  -webkit-transition: background 0.9s !important;
  transition: background 0.9s !important;
}

.btn-primary:hover {
  background: #007bff radial-gradient(circle, transparent 1%, #007bff 1%) center/15000% !important;
  border-color: transparent !important;
}

.btn-primary:active {
  background-color: #5fb5fc !important;
  background-size: 100% !important;
  -webkit-transition: background 0s !important;
  transition: background 0s !important;
}

.btn-shadow:hover {
  -webkit-box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
          box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
}

::-webkit-input-placeholder {
  color: #a89797 !important;
}

:-ms-input-placeholder {
  color: #a89797 !important;
}

::-ms-input-placeholder {
  color: #a89797 !important;
}

::placeholder {
  color: #a89797 !important;
}

/* end of global styling */
/*  ==============
    navbar
==============
*/
.nav-link, .dropdown-item, .search-box {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: #F5F8FA;
}

.nav-link {
  color: #f5f8fac5 !important;
}

.nav-link.active, .nav-link:hover {
  color: #F5F8FA !important;
}

nav, .home-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(49, 48, 48, 0.945)), to(rgba(27, 27, 27, 0.83))), url("../images/footer.jpg");
  background: linear-gradient(left, rgba(49, 48, 48, 0.945) 0%, rgba(27, 27, 27, 0.83) 100%), url("../images/footer.jpg");
}

#navbar {
  position: fixed;
}

main {
  padding-top: 58px;
}

.navbar-toggler {
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
}

.dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
  margin-top: 0;
}

.dropdown-menu {
  background-color: rgba(27, 27, 27, 0.83);
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -15px;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown-menu a:hover {
  background: #212529;
  color: #F5F8FA;
}

@media (max-width: 767px) {
  .dropdown-menu {
    text-align: center;
    margin-left: 1rem;
    background: transparent;
  }
}

.dropdown-item.active {
  background: #212529;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .form-inline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .form-inline .form-control {
    display: inline-block !important;
    width: 60% !important;
    vertical-align: middle !important;
  }
}

.form-control {
  background: #F5F8FA;
}

.home-nav {
  background: transparent;
}

#nav-mhweb-hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px 0px 0px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-mhweb-hamburger:hover span {
  background: #F5F8FA;
}

#nav-mhweb-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-mhweb-hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-mhweb-hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-mhweb-hamburger span:nth-child(1), #nav-mhweb-hamburger span:nth-child(2) {
  top: 0px;
}

#nav-mhweb-hamburger span:nth-child(3), #nav-mhweb-hamburger span:nth-child(4) {
  top: 10px;
}

#nav-mhweb-hamburger span:nth-child(5), #nav-mhweb-hamburger span:nth-child(6) {
  top: 20px;
}

#nav-mhweb-hamburger.open span:nth-child(1), #nav-mhweb-hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-mhweb-hamburger.open span:nth-child(2), #nav-mhweb-hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-mhweb-hamburger.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-mhweb-hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

/* end of navbar */
/*  ==============
        footer
    ==============
*/
footer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 27, 0.83)), to(rgba(49, 48, 48, 0.945))), url("../images/footer.jpg");
  background: linear-gradient(left, rgba(27, 27, 27, 0.83) 0%, rgba(49, 48, 48, 0.945) 100%), url("../images/footer.jpg");
}

#page-footer {
  margin-top: 50px;
  color: #F5F8FA;
  min-height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#page-footer a {
  color: #F5F8FA;
}

#page-footer a:hover {
  color: rgba(15, 120, 185, 0.89);
}

@media (max-width: 767px) {
  #page-footer {
    min-height: 160px;
  }
}

#home-footer {
  margin-top: 60px;
  color: #F5F8FA;
  margin-bottom: 0;
}

#home-footer a {
  color: #F5F8FA;
}

.socmed {
  list-style: none;
}

.socmed li {
  display: inline-block;
}

@media (max-width: 767px) {
  .socmed {
    margin-left: -2.5rem;
  }
}

@media (max-width: 767px) {
  .respond, .counts, .logo {
    text-align: center !important;
  }
}

.logo p {
  font-size: 14px;
}

@media (max-width: 767px) {
  .logo p {
    width: 80%;
    margin: 0 auto 1rem auto;
  }
}

@media (max-width: 767px) {
  .counts {
    display: block !important;
  }
}

.copyright {
  font-size: 15px;
  color: rgba(199, 199, 199, 0.9);
}

@media (max-width: 767px) {
  .copyright {
    margin-top: 1rem;
  }
}

.copyright a {
  color: rgba(199, 199, 199, 0.9) !important;
}

.copyright a:hover {
  text-decoration: none;
  color: white !important;
}

/* end of footer*/
/*# sourceMappingURL=general.css.map */