@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
}

body {
  width: 100%;
  height: 100vh;
}

section {
  margin-bottom: 50px;
}

#navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#nav-mhweb-hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px 0px 0px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-mhweb-hamburger:hover span {
  background: white;
}

#nav-mhweb-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-mhweb-hamburger.open span {
  margin-left: 3px;
  margin-top: -4px;
}

#nav-mhweb-hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-mhweb-hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-mhweb-hamburger span:nth-child(1),
#nav-mhweb-hamburger span:nth-child(2) {
  top: 0px;
}

#nav-mhweb-hamburger span:nth-child(3),
#nav-mhweb-hamburger span:nth-child(4) {
  top: 10px;
}

#nav-mhweb-hamburger span:nth-child(5),
#nav-mhweb-hamburger span:nth-child(6) {
  top: 20px;
}

#nav-mhweb-hamburger.open span:nth-child(1),
#nav-mhweb-hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-mhweb-hamburger.open span:nth-child(2),
#nav-mhweb-hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-mhweb-hamburger.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-mhweb-hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

.navbar-toggler {
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
}

#agriculture,
#social,
#economy {
  height: 100vh;
  overflow: hidden;
}

#agriculture .inner,
#social .inner,
#economy .inner {
  height: 100%;
  z-index: -1;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#agriculture .inner .container-fluid,
#social .inner .container-fluid,
#economy .inner .container-fluid {
  height: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#agriculture .inner .container-fluid .row,
#social .inner .container-fluid .row,
#economy .inner .container-fluid .row {
  height: 100%;
}

#agriculture .inner:before,
#social .inner:before,
#economy .inner:before {
  background: url(../images/agliculture.jpg);
  background-position: bottom;
  background-size: cover;
  filter: brightness(0.6) grayscale(1);
  -webkit-filter: brightness(0.6) grayscale(1);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

#agriculture .inner:hover,
#social .inner:hover,
#economy .inner:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

#agriculture .inner:hover .container-fluid,
#social .inner:hover .container-fluid,
#economy .inner:hover .container-fluid {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#agriculture .inner:hover:before,
#social .inner:hover:before,
#economy .inner:hover:before {
  filter: grayscale(0) brightness(0.6);
  -webkit-filter: grayscale(0) brightness(0.6);
}

#agriculture button,
#social button,
#economy button {
  width: 100%;
}

#agriculture .space,
#social .space,
#economy .space {
  padding: 10px;
}

#agriculture h1,
#social h1,
#economy h1 {
  color: white;
}

#social .inner:before {
  background: url(../images/social.jpg);
  background-position: center;
}

#economy .inner:before {
  background: url(../images/economy.jpg);
  background-position: center;
}

.dropdown-menu {
  background-color: #212529;
  border: none;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  background: #010203;
  color: white;
}

@media (max-width: 767px) {
  .dropdown-menu {
    text-align: center;
    margin-left: 1rem;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .form-inline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  .form-inline .form-control {
    display: inline-block !important;
    width: 60% !important;
    vertical-align: middle !important;
  }
}

.page-footer {
  color: white;
}

.page-footer a {
  color: white;
}

.page-footer .socmed {
  list-style: none;
}

.page-footer .socmed li {
  display: inline-block;
}

.page-footer .socmed li a:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  .page-footer .socmed {
    margin-left: -2.5rem;
  }
}

.page-footer .text-right p {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .page-footer .respond,
  .page-footer .counts {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .page-footer .counts {
    display: block !important;
  }
}

#events .image {
  overflow: hidden;
}

@media (max-width: 575px) {
  #events .image:nth-child(5), #events .image:nth-child(6), #events .image:nth-child(7), #events .image:nth-child(8) {
    display: none;
  }
}

#events .image img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
}

@media (max-width: 575px) {
  .btn {
    font-size: 12px;
  }
}

.caption {
  max-height: 200px;
  overflow-y: auto;
}

@media (min-width: 992px) {
  .caption p,
  button span {
    font-size: 16px !important;
  }
}

@media (max-width: 767px) {
  .caption p,
  button span {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .caption p,
  button span {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  .caption p,
  button span {
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  .close-small {
    display: none;
  }
}

.close-big {
  visibility: hidden;
}

@media (max-width: 575px) {
  .close-big {
    display: none;
  }
}

.carousel-wrap {
  margin: auto;
  padding: 0;
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}

.owl-dot.active span,
.owl-dot:hover span {
  background: #007bff !important;
}

#infographics .item {
  overflow: hidden;
}

#infographics .item img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-shadow:hover {
  -webkit-box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
          box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
}
/*# sourceMappingURL=welcome.css.map */