/*  ==============
     starter pack
    ==============
 */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("fonts.css");
/* end of starter pack*/
/*  ================
     global styling
    ================
 */
main {
  padding-top: 58px;
}

* {
  font-family: "Bahnschrift Regular", sans-serif;
}

h1, h3, h4, h5, h6 {
  font-weight: 600;
}

html, body {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
}

section {
  margin-bottom: 50px;
}

@media (max-width: 575px) {
  .btn {
    font-size: 12px;
  }
}

@media (min-width: 992px) {
  button span {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  button span {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  button span {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  button span {
    font-size: 11px;
  }
}

.btn-shadow:hover {
  -webkit-box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
          box-shadow: 10px 15px 30px -12px rgba(0, 123, 255, 0.6) !important;
}

::-webkit-input-placeholder {
  color: #a89797 !important;
}

:-ms-input-placeholder {
  color: #a89797 !important;
}

::-ms-input-placeholder {
  color: #a89797 !important;
}

::placeholder {
  color: #a89797 !important;
}

/* end of global styling */
/*  ==============
        navbar
    ==============
 */
nav ul li a, .search-box {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.5px;
}

#navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  min-height: 60px;
  background: #212529;
}

#navbar .navbar-toggler {
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none !important;
  border: none;
}

#navbar .dropdown.show .dropdown-menu {
  max-height: 300px;
  opacity: 1;
  margin-top: 0;
}

#navbar .dropdown-menu {
  background-color: #212529;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -15px;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

#navbar .dropdown-menu a {
  color: white;
}

#navbar .dropdown-menu a:hover {
  background: #007bff;
  color: white;
}

@media (max-width: 767px) {
  #navbar .dropdown-menu {
    text-align: center;
    margin-left: 1rem;
  }
}

@media (max-width: 767px) {
  #navbar .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #navbar .form-inline {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 575px) {
  #navbar .form-inline .form-control {
    display: inline-block !important;
    width: 60% !important;
    vertical-align: middle !important;
  }
}

.home-nav {
  background: rgba(33, 37, 41, 0.9) !important;
}

#nav-mhweb-hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 5px 0px 0px 0px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-mhweb-hamburger:hover span {
  background: white;
}

#nav-mhweb-hamburger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-mhweb-hamburger span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-mhweb-hamburger span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-mhweb-hamburger span:nth-child(1), #nav-mhweb-hamburger span:nth-child(2) {
  top: 0px;
}

#nav-mhweb-hamburger span:nth-child(3), #nav-mhweb-hamburger span:nth-child(4) {
  top: 10px;
}

#nav-mhweb-hamburger span:nth-child(5), #nav-mhweb-hamburger span:nth-child(6) {
  top: 20px;
}

#nav-mhweb-hamburger.open span:nth-child(1), #nav-mhweb-hamburger.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-mhweb-hamburger.open span:nth-child(2), #nav-mhweb-hamburger.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-mhweb-hamburger.open span:nth-child(1) {
  left: 0px;
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-mhweb-hamburger.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-mhweb-hamburger.open span:nth-child(5) {
  left: 0px;
  top: 19px;
}

#nav-mhweb-hamburger.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 19px;
}

/* end of navbar */
/*  ==============
     welcome page
    ==============
 */
#fullpage {
  padding-top: 0;
}

#agriculture .search-button, #agriculture .navbar-toggler {
  width: unset !important;
}

#agriculture, #social, #economy {
  height: 100vh;
  overflow: hidden;
}

@media (min-height: 845px) {
  #agriculture, #social, #economy {
    background-repeat: no-repeat;
  }
}

#agriculture .inner, #social .inner, #economy .inner {
  height: 100%;
  z-index: -1;
  width: 100%;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
}

#agriculture .inner .container-fluid, #social .inner .container-fluid, #economy .inner .container-fluid {
  height: 100%;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
}

#agriculture .inner .container-fluid .row, #social .inner .container-fluid .row, #economy .inner .container-fluid .row {
  height: 100%;
}

#agriculture .inner:before, #social .inner:before, #economy .inner:before {
  background: url(../images/agriculture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
}

@media (min-height: 845px) {
  #agriculture .inner:before, #social .inner:before, #economy .inner:before {
    height: 844px;
  }
}

@media (min-width: 1200px) {
  #agriculture .inner:before, #social .inner:before, #economy .inner:before {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

#agriculture .inner:hover:before, #social .inner:hover:before, #economy .inner:hover:before {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

#agriculture button, #social button, #economy button {
  width: 100%;
}

#agriculture .space, #social .space, #economy .space {
  padding: 10px;
}

#agriculture h1, #social h1, #economy h1 {
  color: white;
}

#social .inner:before {
  background: url(../images/social.jpg);
  background-position: -150px center;
}

@media (max-width: 575px) {
  #social .inner:before {
    background-position: -240px center;
  }
}

@media (min-width: 1200px) {
  #social .inner:before {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

#economy .inner:before {
  background: url(../images/economy.jpg);
  background-position: center;
}

@media (min-width: 1200px) {
  #economy .inner:before {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

#events {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#events .image {
  overflow: hidden;
}

#events .image:hover img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-box-shadow: 0px 10px 25px -12px rgba(10, 10, 10, 0.3);
          box-shadow: 0px 10px 25px -12px rgba(10, 10, 10, 0.3);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#events .image:hover .img-detail {
  opacity: 1;
  top: 50%;
}

@media (max-width: 575px) {
  #events .image:nth-child(5), #events .image:nth-child(6), #events .image:nth-child(7), #events .image:nth-child(8) {
    display: none;
  }
}

#events .image img {
  height: 210px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media (max-width: 767px) {
  #events .image img {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  #events .image img {
    height: 180px;
  }
}

#events .image .img-detail {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  color: white;
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#events .image .img-detail .image-title {
  margin-bottom: -5px;
}

#events .image .img-detail .tag {
  font-size: 12px;
  margin-bottom: 0;
}

#infographics {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  margin-bottom: 24px;
}

#infographics .item {
  overflow: hidden;
}

#infographics .item:hover img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

#infographics .item:hover .image-title {
  opacity: 1;
  top: 50%;
}

#infographics .item img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#infographics .item .image-title {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  color: white;
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

/* special components */
#fp-nav ul li a span {
  background: white !important;
  -webkit-transition: .75s;
  transition: .75s;
}

#fp-nav ul li a span.blue-background {
  background: #007bff !important;
  -webkit-transition: .75s;
  transition: .75s;
}

#fp-nav ul li .fp-tooltip {
  font-family: "Bahnschrift Regular", sans-serif !important;
  -webkit-transition: .75s;
  transition: .75s;
}

.blue-color {
  color: #007bff !important;
  -webkit-transition: .75s;
  transition: .75s;
}

.text-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.blue-line {
  background: #007bff;
  opacity: 0.9;
  width: 18%;
  height: 6px;
}

@media (max-width: 767px) {
  .blue-line {
    width: 40%;
  }
}

/* end of welcome page styling */
/*  ===================
     owlCarousel setup
    ===================
 */
.carousel-wrap {
  margin: auto;
  padding: 0;
  width: 100%;
  position: relative;
}

.owl-carousel .item {
  position: relative;
  z-index: 100;
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 18px;
  height: 40px;
  width: 40px;
  background: white;
  color: #007bff;
  border-radius: 50%;
  padding-top: 11px;
  -webkit-box-shadow: 2px 3px 10px -3px rgba(0, 123, 255, 0.45);
          box-shadow: 2px 3px 10px -3px rgba(0, 123, 255, 0.45);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-nav i:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-box-shadow: 3px 5px 10px -3px rgba(0, 123, 255, 0.65);
          box-shadow: 3px 5px 10px -3px rgba(0, 123, 255, 0.65);
}

.owl-nav .owl-prev, .owl-nav .owl-next {
  position: absolute;
  left: 0px;
  top: 36%;
}

.owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
  background: transparent !important;
}

.owl-nav .owl-prev:focus, .owl-nav .owl-next:focus {
  outline: none;
}

.owl-nav .owl-next {
  left: unset;
  right: 0;
}

.owl-dot.active span, .owl-dot:hover span {
  background: #007bff !important;
}

.owl-dot.active span:focus, .owl-dot:hover span:focus {
  outline: none !important;
}

.owl-dot span {
  background: #c1c1c1 !important;
}

/* end of owlCarousel setup*/
/*  ==============
     gallery page
    ==============
 */
.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  font-size: 14px;
  margin-right: 15px;
}

.radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #007bff;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

.radio:hover .label:after {
  -webkit-transform: scale(3.6);
          transform: scale(3.6);
}

input[type="radio"]:checked + .label {
  border-color: #007bff;
}

input[type="radio"]:checked + .label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.hidden, .area {
  display: none;
}

#photo-gallery .item, #video-gallery .item, .carousel-modal .item {
  overflow: hidden;
}

#photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 1200px) {
  #photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
    height: 36.75vw;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
    height: 64vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
    height: 70vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
    height: 80vw;
  }
}

@media (max-width: 575px) {
  #photo-gallery .item img, #photo-gallery .item iframe, #video-gallery .item img, #video-gallery .item iframe, .carousel-modal .item img, .carousel-modal .item iframe {
    height: 90vw;
  }
}

#photo-gallery .item p, #photo-gallery .item li, #video-gallery .item p, #video-gallery .item li, .carousel-modal .item p, .carousel-modal .item li {
  font-size: 14px;
}

#photo-gallery .owl-nav i, #video-gallery .owl-nav i, .carousel-modal .owl-nav i {
  color: white;
  background: #007bff;
  -webkit-box-shadow: 2px 3px 10px -3px rgba(0, 50, 255, 0.6);
          box-shadow: 2px 3px 10px -3px rgba(0, 50, 255, 0.6);
}

#photo-gallery .owl-nav .owl-prev, #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-prev, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-prev, .carousel-modal .owl-nav .owl-next {
  position: absolute;
  left: 0px;
  top: 16.375vw;
}

#photo-gallery .owl-nav .owl-prev:hover, #photo-gallery .owl-nav .owl-next:hover, #video-gallery .owl-nav .owl-prev:hover, #video-gallery .owl-nav .owl-next:hover, .carousel-modal .owl-nav .owl-prev:hover, .carousel-modal .owl-nav .owl-next:hover {
  background: transparent !important;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #photo-gallery .owl-nav .owl-prev, #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-prev, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-prev, .carousel-modal .owl-nav .owl-next {
    top: 28vw;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #photo-gallery .owl-nav .owl-prev, #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-prev, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-prev, .carousel-modal .owl-nav .owl-next {
    top: 31vw;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  #photo-gallery .owl-nav .owl-prev, #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-prev, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-prev, .carousel-modal .owl-nav .owl-next {
    top: 36vw;
  }
}

@media (max-width: 575px) {
  #photo-gallery .owl-nav .owl-prev, #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-prev, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-prev, .carousel-modal .owl-nav .owl-next {
    top: 41vw;
  }
}

#photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-next, .carousel-modal .owl-nav .owl-next {
  left: unset;
  right: 0;
}

@media (min-width: 1200px) {
  #photo-gallery .owl-nav .owl-next, #video-gallery .owl-nav .owl-next {
    left: 61.37%;
  }
}

.text-column {
  overflow-y: auto;
}

.text-column h4, .text-column h6, .text-column p, .text-column a {
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1200px) {
  .text-column {
    max-height: 37vw;
  }
}

.text-column .photo-by p, .text-column .video-by p {
  font-size: 15px !important;
}

.pict-column, .video-column {
  background: #efefef;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.time p, .location p, .photo-by p, .video-by p {
  color: #666;
}

.tags {
  list-style: none;
}

.tags li {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  background: #dbdbdb;
  padding: 1px 6px;
  border-radius: 4px;
  margin-right: 2px;
  margin-bottom: 4px;
}

.more-than-one {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: shadow-pulse 1s infinite;
          animation: shadow-pulse 1s infinite;
  font-family: "Poppins";
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.3);
            box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 -20px 20px 20px rgba(0, 123, 255, 0);
            box-shadow: 0 -20px 20px 20px rgba(0, 123, 255, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.3);
            box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 -20px 20px 20px rgba(0, 123, 255, 0);
            box-shadow: 0 -20px 20px 20px rgba(0, 123, 255, 0);
  }
}

/* end of gallery page */
/*  =============
     upload page
    =============
 */
#photoupload, #videoupload {
  width: 100%;
}

#photoupload .upload, #videoupload .upload {
  max-height: 450px;
  width: 95%;
}

@media (max-width: 991px) {
  #photoupload .upload, #videoupload .upload {
    width: 70%;
  }
}

@media (min-width: 992px) {
  #photoupload .upload, #videoupload .upload {
    margin-top: -240px;
  }
}

#photoupload #uploadfile, #videoupload #uploadfile {
  cursor: pointer !important;
}

.main-upload {
  min-height: 100%;
}

.custom-file {
  border-radius: 1px;
}

.wrong {
  -webkit-box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.9);
          box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.9);
}

#upload-warning, #tags-warning {
  font-size: 12px;
}

.custom-file-label {
  color: #a89797;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  /* new lines */
  width: 100%;
  position: absolute;
  left: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-file-label:after {
  background: #007bff;
  color: white;
}

.question {
  font-size: 12px;
}

.question:hover {
  color: #007bff !important;
}

.toggle {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: 0px;
}

.toggle input + label {
  margin: 0;
  padding: 0.75rem 2rem;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: inline-block;
  border: solid 1px #ddd;
  background-color: #fff;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  -webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  -webkit-transition: border-color 0.75s ease-out, color 0.4s ease-out, background-color 0.4s ease-out, -webkit-box-shadow 0.75s ease-out;
  transition: border-color 0.75s ease-out, color 0.4s ease-out, background-color 0.4s ease-out, -webkit-box-shadow 0.75s ease-out;
  transition: border-color 0.75s ease-out, color 0.4s ease-out, background-color 0.4s ease-out, box-shadow 0.75s ease-out;
  transition: border-color 0.75s ease-out, color 0.4s ease-out, background-color 0.4s ease-out, box-shadow 0.75s ease-out, -webkit-box-shadow 0.75s ease-out;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .toggle input + label {
    padding: 0.75rem 1.8rem;
  }
}

@media (min-width: 1200px) {
  .toggle input + label {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .toggle input + label {
    padding: 0.75rem 1.9rem;
  }
}

@media (max-width: 575px) {
  .toggle input + label {
    padding: 0.75rem 2.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .toggle input + label {
    padding: 0.75rem 3.3rem;
  }
}

@media (max-width: 459px) {
  .toggle input + label {
    font-size: 13px;
  }
}

@media (max-width: 444px) {
  .toggle input + label {
    font-size: 12px;
    padding: 0.75rem 1.4rem;
  }
}

@media (max-width: 351px) {
  .toggle input + label {
    font-size: 11px;
    padding: 0.75rem 0.65rem;
  }
}

.toggle input + label:first-of-type {
  border-radius: 6px 0 0 6px;
}

.toggle input + label:last-of-type {
  border-radius: 0 6px 6px 0;
  border-left: none;
}

.toggle input:hover + label {
  border-color: #213140;
}

.toggle input:checked + label {
  background-color: #4b9dea;
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
          box-shadow: 0 0 10px rgba(102, 179, 251, 0.5);
  border-color: #4b9dea;
  z-index: 1;
}

.toggle2 input + label:first-of-type {
  border-right: none !important;
}

.tooltip {
  pointer-events: none;
  margin-left: 3px;
}

.tooltip .tooltip-inner {
  font-size: 12px;
}

@media (min-width: 768px) {
  .tooltip .tooltip-inner {
    font-size: 13px;
    max-width: 400px;
  }
}

.bootstrap-tagsinput {
  width: 100%;
}

.bootstrap-tagsinput .tag {
  background: #66b3fb;
  padding: 3px;
  border-radius: 3px;
  color: #212529;
  font-size: 14px;
}

.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "\d7";
  margin-left: -6px;
  font-size: 15px;
}

/* end of upload page*/
/*  ==============
        footer
    ==============
*/
#page-footer {
  margin-top: 50px;
  color: white;
}

#page-footer a {
  color: white;
}

#page-footer .socmed {
  list-style: none;
}

#page-footer .socmed li {
  display: inline-block;
}

#page-footer .socmed li a:hover {
  color: #007bff;
}

@media (max-width: 767px) {
  #page-footer .socmed {
    margin-left: -2.5rem;
  }
}

@media (max-width: 767px) {
  #page-footer .respond, #page-footer .counts {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  #page-footer .counts {
    display: block !important;
  }
}

/* end of footer*/
/*# sourceMappingURL=welcome.css.map */