
@import 'variables';
/*  ==============
     welcome page
    ==============
 */

    #main-category{
        .owl-prev{
            position: absolute;
            left: 39% !important;
            top: 55%;

            @include big{
                left: 45% !important;
            }
        }

        .owl-next{
            position: absolute;
            right: 39% !important;
            top: 55%;

            @include big{
                right: 45% !important;
            }
        }

        .owl-nav {
            i {
                font-size: 15px;
                height: 30px;
                width: 30px;
                padding-top: 7px;
                animation: shadow-pulse 1.8s infinite;
            }
        }
    }

    @keyframes shadow-pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.9);
        }
        100% {
            box-shadow: 0 0 20px 20px rgba(0, 123, 255, 0);
        }
    }

    //agriculture, social, economy section styling
    #agriculture, #social, #economy {
        height: 100vh;
        overflow: hidden;

        .container-fluid{
            height: 100%;

            .row{
                height: 100%;
            }
        }
        @media (min-height: 845px){ background-repeat: no-repeat; }

            z-index: -1;
            width: 100%;
            transition: all 1.4s;
            background: url(../images/agriculture.jpg);

            //setting background using :before to apply filter on background only, not the entire components
            
                
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                
                transition: all 1.4s;

                @media (min-height: 845px){ 
                    background: url(../images/agriculture2.jpg); 
                    background-position: center;
                }
                @include laptop{ background-position-x: center;  background-size: auto; background-repeat: no-repeat;}
            


        //button inside the three main gallery only
        button { width: 100%; }

        //space between title and button
        .space { padding: 2px; }
        
        h1 { 
            color: white; 

            @include mobile{
                font-size: 2rem !important;
            }
        }
    }

    #social {
            
                background: url(../images/social.jpg);
                background-position: -150px center;
                @include mobile{ background-position: -240px center;}
                @include laptop{ background-position-x: center;  background-size: auto; background-repeat: no-repeat;}

                @media (min-height: 845px){ 
                    background: url(../images/social2.jpg);
                    background-position: bottom;
                 }
            
    }

    #economy {
        background: url(../images/economy.jpg);
        background-position: center;
        @include laptop{ background-position-x: center;  background-size: auto; background-repeat: no-repeat;}

        @media (min-height: 845px){ 
            background: url(../images/economy2.jpg); 
            background-position: center center;
        }
    }

@-webkit-keyframes gradientBackground {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
@keyframes gradientBackground { 
    0%{background-position:0% 59%}
    50%{background-position:100% 42%}
    100%{background-position:0% 59%}
}
    //events and experiences section
    #events {
        transform: translateY(-15px);
        //image container
        .image {
            overflow: hidden;

            .img-container{

                -webkit-animation: gradientBackground 2s ease-in-out infinite;
                -moz-animation: gradientBackground 2s ease-in-out infinite;
                animation: gradientBackground 2s ease-in-out infinite;
            }

            &:hover {
                //the image itself
                img {
                    filter: brightness(0.6);
                    box-shadow: 0px 10px 25px -12px rgba(10, 10, 10, 0.3);
                    transform: scale(1.03);
                }

                //image title
                .img-detail {
                    opacity: 1;
                    top: 50%;
                }
            }

            //hide the last four image on small screen
            &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                @include mobile {
                    display: none;
                }
            }

            img {
                height: 210px;
                width: 100%;
                object-fit: cover;
                transition: all 0.8s;

                @include tablet{ height: 150px; }

                @include laptop{ height: 180px; }
            }

            .img-detail {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -68%);
                color: white;
                opacity: 0;
                transition: 0.75s;

                .image-title {
                    margin-bottom: -5px;
                }
                
                .tag {
                    font-size: 12px;
                    margin-bottom: 0;
                }
            }
        }
    }

    //infographics section
    #infographics {
        margin-bottom: 24px;
        //image container
        .item {
            overflow: hidden;

            background: linear-gradient(90deg, rgba(15, 82, 186, 0.596), rgba(0, 128, 255, 0.582), rgba(115, 194, 251, 0.541), rgba(126, 249, 255, 0.493));
            background-size: 400% 400%;

            -webkit-animation: gradientBackground 2s ease-in-out infinite;
            -moz-animation: gradientBackground 2s ease-in-out infinite;
            animation: gradientBackground 2s ease-in-out infinite;

            &:hover {
                img {
                    filter: brightness(0.6);
                }

                .image-title {
                    opacity: 1;
                    top: 50%;
                }
            }

            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }

            .image-title {
                position: absolute;
                top: 90%;
                left: 50%;
                transform: translate(-50%, -68%);
                color: white;
                opacity: 0;
                transition: 0.75s;
            }
        }
    }

    //title of the gallery
    .text-title {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.3px;
    }

    //blue line under the title of events and infographics gallery
    .blue-line {
        background: color(nice-blue);
        opacity: 0.9;
        width: 18%;
        height: 6px;

        @include tablet {
            width: 40%;
        }
    }
/* end of welcome page styling */

/*  ===================
     owlCarousel setup
    ===================
 */
    //carousel container
    .carousel-wrap {
        margin: auto;
        padding: 0;
        width: 100%;
        position: relative;
    }

    //carousel item container
    .owl-carousel .item {
        position: relative;
        z-index: 100;
    }
    
    .owl-nav > div {
        margin-top: -26px;
        position: absolute;
        top: 50%;
        color: #cdcbcd;
    }

    //nav used in owlCarousel
    .owl-nav {
        i {
            font-size: 18px;
            height: 40px;
            width: 40px;
            background: white;
            color: color(nice-blue);
            border-radius: 50%;
            padding-top: 11px;
            box-shadow: 2px 3px 10px -3px rgba(0, 123, 255, 0.45);
            transition: 0.5s;
            &:hover {
                transform: scale(1.12);
                box-shadow: 3px 5px 10px -3px rgba(0, 123, 255, 0.65);
            }
        }
    }

    .navbar-bg{
        background: color(navbar-bg) !important;
    }

    //previous button
    .owl-prev, .owl-next {
        position: absolute;
        left: 0px;
        top: 36%;

        &:hover { background: transparent !important; }
        &:focus { outline: none; }
    }

    //next button
    .owl-next {
        left: unset;
        right: 0;
    }

    //dots to indicate the item's position in the carousel
    .owl-dot.active span, .owl-dot:hover span {
        background: color(nice-blue) !important;

        &:focus { outline: none !important; }
    }

    .owl-dot span{
        background: color(dot-color) !important;
    }
    /* end of owlCarousel setup*/

    #home-footer{
        background: linear-gradient(left, rgba(27, 27, 27, 0.83) 0%, rgba(49, 48, 48, 0.945) 100%), url('../images/footer.jpg'); 
    }