/*  ==============
     starter pack
    ==============
 */
@import url("fonts.css");
/* end of starter pack*/
/*  ==============
     welcome page
    ==============
 */
#main-category .owl-prev {
  position: absolute;
  left: 39% !important;
  top: 55%;
}

@media (min-width: 992px) {
  #main-category .owl-prev {
    left: 45% !important;
  }
}

#main-category .owl-next {
  position: absolute;
  right: 39% !important;
  top: 55%;
}

@media (min-width: 992px) {
  #main-category .owl-next {
    right: 45% !important;
  }
}

#main-category .owl-nav i {
  font-size: 15px;
  height: 30px;
  width: 30px;
  padding-top: 7px;
  -webkit-animation: shadow-pulse 1.8s infinite;
          animation: shadow-pulse 1.8s infinite;
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.9);
            box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 20px rgba(0, 123, 255, 0);
            box-shadow: 0 0 20px 20px rgba(0, 123, 255, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.9);
            box-shadow: 0 0 0 0px rgba(0, 123, 255, 0.9);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 20px rgba(0, 123, 255, 0);
            box-shadow: 0 0 20px 20px rgba(0, 123, 255, 0);
  }
}

#agriculture, #social, #economy {
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  -webkit-transition: all 1.4s;
  transition: all 1.4s;
  background: url(../images/agriculture.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 1.4s;
}

#agriculture .container-fluid, #social .container-fluid, #economy .container-fluid {
  height: 100%;
}

#agriculture .container-fluid .row, #social .container-fluid .row, #economy .container-fluid .row {
  height: 100%;
}

@media (min-height: 845px) {
  #agriculture, #social, #economy {
    background-repeat: no-repeat;
  }
}

@media (min-height: 845px) {
  #agriculture, #social, #economy {
    background: url(../images/agriculture2.jpg);
    background-position: center;
  }
}

@media (min-width: 1200px) {
  #agriculture, #social, #economy {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

#agriculture button, #social button, #economy button {
  width: 100%;
}

#agriculture .space, #social .space, #economy .space {
  padding: 2px;
}

#agriculture h1, #social h1, #economy h1 {
  color: white;
}

@media (max-width: 575px) {
  #agriculture h1, #social h1, #economy h1 {
    font-size: 2rem !important;
  }
}

#social {
  background: url(../images/social.jpg);
  background-position: -150px center;
}

@media (max-width: 575px) {
  #social {
    background-position: -240px center;
  }
}

@media (min-width: 1200px) {
  #social {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media (min-height: 845px) {
  #social {
    background: url(../images/social2.jpg);
    background-position: bottom;
  }
}

#economy {
  background: url(../images/economy.jpg);
  background-position: center;
}

@media (min-width: 1200px) {
  #economy {
    background-position-x: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
}

@media (min-height: 845px) {
  #economy {
    background: url(../images/economy2.jpg);
    background-position: center center;
  }
}

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 59%;
  }
  50% {
    background-position: 100% 42%;
  }
  100% {
    background-position: 0% 59%;
  }
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 59%;
  }
  50% {
    background-position: 100% 42%;
  }
  100% {
    background-position: 0% 59%;
  }
}

#events {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

#events .image {
  overflow: hidden;
}

#events .image:hover img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
  -webkit-box-shadow: 0px 10px 25px -12px rgba(10, 10, 10, 0.3);
          box-shadow: 0px 10px 25px -12px rgba(10, 10, 10, 0.3);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#events .image:hover .img-detail {
  opacity: 1;
  top: 50%;
}

@media (max-width: 575px) {
  #events .image:nth-child(5), #events .image:nth-child(6), #events .image:nth-child(7), #events .image:nth-child(8) {
    display: none;
  }
}

#events .image img {
  height: 210px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

@media (max-width: 767px) {
  #events .image img {
    height: 150px;
  }
}

@media (min-width: 1200px) {
  #events .image img {
    height: 180px;
  }
}

#events .image .img-detail {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  color: white;
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

#events .image .img-detail .image-title {
  margin-bottom: -5px;
}

#events .image .img-detail .tag {
  font-size: 12px;
  margin-bottom: 0;
}

#infographics {
  margin-bottom: 24px;
}

#infographics .item {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, from(rgba(15, 82, 186, 0.2)), color-stop(rgba(0, 128, 255, 0.247)), color-stop(rgba(115, 194, 251, 0.247)), to(rgba(126, 249, 255, 0.178)));
  background: linear-gradient(90deg, rgba(15, 82, 186, 0.2), rgba(0, 128, 255, 0.247), rgba(115, 194, 251, 0.247), rgba(126, 249, 255, 0.178));
  background-size: 400% 400%;
  -webkit-animation: gradientBackground 2s ease-in-out infinite;
  animation: gradientBackground 2s ease-in-out infinite;
}

#infographics .item:hover img {
  -webkit-filter: brightness(0.6);
          filter: brightness(0.6);
}

#infographics .item:hover .image-title {
  opacity: 1;
  top: 50%;
}

#infographics .item img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#infographics .item .image-title {
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -68%);
          transform: translate(-50%, -68%);
  color: white;
  opacity: 0;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.text-title {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
}

.blue-line {
  background: rgba(15, 120, 185, 0.89);
  opacity: 0.9;
  width: 18%;
  height: 6px;
}

@media (max-width: 767px) {
  .blue-line {
    width: 40%;
  }
}

/* end of welcome page styling */
/*  ===================
     owlCarousel setup
    ===================
 */
.carousel-wrap {
  margin: auto;
  padding: 0;
  width: 100%;
  position: relative;
}

.owl-carousel .item {
  position: relative;
  z-index: 100;
}

.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 18px;
  height: 40px;
  width: 40px;
  background: white;
  color: rgba(15, 120, 185, 0.89);
  border-radius: 50%;
  padding-top: 11px;
  -webkit-box-shadow: 2px 3px 10px -3px rgba(0, 123, 255, 0.45);
          box-shadow: 2px 3px 10px -3px rgba(0, 123, 255, 0.45);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-nav i:hover {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
  -webkit-box-shadow: 3px 5px 10px -3px rgba(0, 123, 255, 0.65);
          box-shadow: 3px 5px 10px -3px rgba(0, 123, 255, 0.65);
}

.navbar-bg {
  background: rgba(27, 27, 27, 0.83) !important;
}

.owl-prev, .owl-next {
  position: absolute;
  left: 0px;
  top: 36%;
}

.owl-prev:hover, .owl-next:hover {
  background: transparent !important;
}

.owl-prev:focus, .owl-next:focus {
  outline: none;
}

.owl-next {
  left: unset;
  right: 0;
}

.owl-dot.active span, .owl-dot:hover span {
  background: rgba(15, 120, 185, 0.89) !important;
}

.owl-dot.active span:focus, .owl-dot:hover span:focus {
  outline: none !important;
}

.owl-dot span {
  background: #c1c1c1 !important;
}

/* end of owlCarousel setup*/
#home-footer {
  background: -webkit-gradient(linear, left top, right top, from(rgba(27, 27, 27, 0.83)), to(rgba(49, 48, 48, 0.945))), url("../images/footer.jpg");
  background: linear-gradient(left, rgba(27, 27, 27, 0.83) 0%, rgba(49, 48, 48, 0.945) 100%), url("../images/footer.jpg");
}
/*# sourceMappingURL=welcome.css.map */